.popup__text {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: none;
    width: 100%;
}

.popup__text:focus {
    border-bottom: 1px solid #000000;
    outline: none;
}

@media (max-width: 425px) {
    .popup__text {
        margin: 30px 22px 0 22px;
    }
}