.add-button {
    width: 150px;
    height: 50px;
    background-position: center;
    background-size: auto;
    border: white solid 2px;
    border-radius: 2px;
    background-color: #000000;
    background-image: url(../../images/Add_Button.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
}

.add-button:hover {
    opacity: 0.6;
    transition: 1s ease-in-out;
}

.add-button:focus {
    outline: none;
}

@media (max-width: 425px) {
    .add-button {
        width: 286px;
    }
}