.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s ease;
    position: relative;
    object-fit: cover;
  }
  
  .avatar:hover {
    opacity: 0.2;
  }