.popup__close-btn {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: auto;
    background-color: #000000;
    background-image: url(../../../images/Close_Icon.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    padding: 0;
    border: none;
    transform: rotate(-45deg);
}

.popup__close-btn:hover {
    opacity: 0.6;
    transition: 1s ease-in-out;
}

.popup__close-btn:focus {
    outline: none;
}

@media (max-width: 425px) {
    .popup__close-btn {
        width: 26px;
        height: 26px;
        right: 0;
    }
}