.popup__close-btn {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: auto;
    background-color: #000000;
    background-image: url(../../../images/Close_Icon.png);
    background-repeat: no-repeat;
    position: absolute;
}

.popup__close-btn:hover {
    opacity: 0.8;
    transition: 1s ease-in-out;
}

@media (max-width: 425px) {
    .popup__close-btn {
    }
}