.profile-info__edit-button {
    width: 24px;
    height: 24px;
    border: white solid 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #000000;
    background-image: url(../../../images/Edit_Button.png);
    cursor: pointer;
    padding: 0;
    margin-left: 18px;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
    transition: 1s ease-in-out;
}

.profile-info__edit-button:focus {
    outline: none;
}