.popup__text {
    font-size: 14px;
    line-height: 17px;
    margin: 30px 36px 0 36px;
    height: 27px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
}

.popup__text:focus {
    border-bottom: 1px solid #000000;
    outline: none;
}

@media (max-width: 425px) {
    .popup__text {
        margin: 30px 22px 0 22px;
    }
}